#breadcrumb {
  margin-top: 71px;
  font-size: 14px; }
  #breadcrumb .breadcrumb-item {
    color: #999; }
    #breadcrumb .breadcrumb-item::after {
      content: ">";
      padding: 5px;
      font-size: 10px;
      vertical-align: text-top; }
    #breadcrumb .breadcrumb-item:last-of-type::after {
      content: ""; }

@media screen and (max-width: 768px) {
  #breadcrumb {
    padding-left: 10px; } }
