@import "../Assets/Sass/variables_site.scss";

.producto {
  display: block;
  padding: 16px 0;
  border-bottom: 1px solid $brand-grey_light;
  position: relative;
  .producto-img {
    height: 180px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
  }
  .producto-info {
    display: inline-block;
    width: 60%;
    padding: 0 10px;
    .producto-price {
      font-size: 24px;
      margin-top: 20px;
      margin-bottom: 26px;
      span {
        padding-right: 5px;
      }
      .shipping-img {
        padding: 0 10px;
        margin-top: -4px;
      }
    }
    .producto-title {
      font-size: 18px;
    }
  }
  .producto-location {
    font-size: 12px;
    display: inline-block;
    color: $brand-grey_dark;
    vertical-align: top;
    padding-top: 20px;
  }
  &:hover {
    cursor: pointer;
  }
  &:last-of-type {
    border-bottom: none;
  }
}
