#producto-detalle {
  margin-top: 60px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px; }
  #producto-detalle .producto-img {
    width: 680px; }
  #producto-detalle .detalle-info {
    display: inline-block;
    vertical-align: top;
    padding: 32px 0 16px 25px;
    width: 320px; }
    #producto-detalle .detalle-info .condicion {
      display: inline-block;
      padding-right: 5px;
      font-size: 14px; }
    #producto-detalle .detalle-info .cantidad-vendidos {
      display: inline-block;
      font-size: 14px; }
    #producto-detalle .detalle-info .title {
      font-size: 24px;
      margin-top: 16px;
      margin-bottom: 0; }
    #producto-detalle .detalle-info .price {
      font-size: 46px;
      margin: 36px 0; }
    #producto-detalle .detalle-info .btn-primary {
      background-color: #3483fa;
      color: #fff;
      border-radius: 3px;
      padding: 10px 90px;
      font-size: 16px; }
  #producto-detalle h3 {
    margin: 30px 0 20px; }
