$brand-primary: #333333;
$brand-secondary: #ffe600;

$brand-grey_dark: #333333;
$brand-grey_middark: #666666;
$brand-grey_middle: #999999;
$brand-grey_light: #eeeeee;

body {
  margin: 0;
  background-color: #eee;
}
